* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #eae7e2;
    overflow: hidden;
}

.container {
    display: flex;
    height: 100vh;
    background-color: #d1c1a7;
}

.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: #c49a6c;
    padding: 20px;
    overflow-y: hidden;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    display: block;
    padding: 10px;
    transition: background 0.3s;
}

.sidebar ul li a:hover {
    background-color: #8d6e4e;
}

.sidebar hr {
    border: 1px solid black;
    margin: 10px 0;
}

.highlight {
    background-color: #8d6e4e;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

.section-title {
    font-size: 24px;
    color: #8d705a;
    margin-bottom: 20px;
    position: relative;
}

.section-title::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #8d705a;
    bottom: -5px;
    left: 0;
    border-radius: 2px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.service-card {
    background-color: #e3d4c3;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

.service-card img {
    width: 100%;
    height: 70vh;
    border-radius: 8px;
}

.service-label {
    margin-top: 10px;
    font-weight: bold;
    color: #8d705a;
}