* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #eae7e2;
    overflow: hidden;
}

.container {
    display: flex;
    height: 100vh;
    background-color: #d1c1a7;
}

.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: #c49a6c;
    padding: 20px;
    overflow-y: hidden;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    display: block;
    padding: 10px;
    transition: background 0.3s;
}

.sidebar ul li a:hover {
    background-color: #8d6e4e;
}

.sidebar hr {
    border: 1px solid black;
    margin: 10px 0;
}

.highlight {
    background-color: #8d6e4e;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    height: 100vh; 
    overflow-y: auto;
}

.main-content h2 {
    font-size: 40px;
    color: #8d705a;
    text-align: center;
    margin-bottom: 30px;
}

.packages-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-height: calc(100vh - 100px);
}

.package-card {
    background-color: #b18a67;
    padding: 20px;
    border-radius: 10px;
    width: 23vw;
    height: 60vh;
    margin: 10px;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.package-card:hover {
    transform: scale(1.05);
}

.package-card h3 {
    color: #f7f7f7;
    margin-bottom: 20px;
}

.package-card ul {
    list-style: none;
    margin-bottom: auto;
    padding: 0;
}

.package-card ul li {
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.package-card ul li i {
    margin-right: 10px;
}

.package-card button {
    background-color: #d9d6d6;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #333;
    font-weight: bold;
    transition: background 0.3s;
}

.package-card button:hover {
    background-color: #bbb;
}